<div class="wrapper" style="height:100%;width:45px;top:50px;position:fixed;left:0;background:#1a1a1a;">                                                               <br><br>
    <a href="/home" class="row" data-toggle="tooltip" data-placement="right" title="Home"><i class="fa fa-home fa-stack-2x ">&nbsp;</i></a><br> <br>
    <a href="/addUser" class="row"data-toggle="tooltip" data-placement="right" title="Add User"><i class="fa fa-plus-square fa-stack-2x "></i></a> <br><br>
    <a href="/userList" class="row"><i class="fa fa-list-ul fa-stack-2x "data-toggle="tootip" data-placement="right" title="User List"> </i></a> <br><br>
    <a href="/communityList" class="row"><i class="fa fa-list-alt fa-stack-2x " data-toggle="tooltip" data-placement="right" title="Community List"></i></a> <br><br> 
     <a href="#" onclick="switchUser()"class="row" ><i class="fa fa-toggle-off fa-stack-2x "data-toggle="tooltip" data-placement="right" title="Switch as User"> </i></a> <br><br>
    <a href="/changePassword" class="row"><i class="fa fa-lock fa-stack-2x "data-toggle="tooltip" data-placement="right" title="Change Password"> </i></a> <br><br>
    <a href="/logout"class="row"><i class="fa fa-sign-out-alt fa-stack-2x " data-toggle="tooltip" data-placement="right" title="LogOut"></i></a> <br> <br>
  </div>
  